 .u-section-1 {
  background-image: none;
  min-height: 1099px;
}

.u-section-1 .u-shape-1 {
  height: 259px;
  margin-top: 129px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: -347px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 434px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 378px;
  height: 378px;
  margin: 29px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-1 .u-container-layout-2 {
  padding: 55px 139px 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-1 .u-text-3 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 905px;
}

.u-section-1 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-1 .u-text-4 {
  letter-spacing: 2px;
  text-transform: none;
  font-weight: bold;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 92px auto 0 30px;
}

.u-section-1 .u-text-5 {
  line-height: 2.2;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px auto 0 30px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  line-height: 2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 7px 149px 0 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  letter-spacing: 0px;
  font-size: 1.5rem;
  margin: 197px auto 0;
  padding: 9px 141px 10px 139px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 0.75rem;
}

.u-section-1 .u-layout-wrap-2 {
  width: 385px;
  margin: -262px calc(((100% - 1140px) / 2) + 78px) 0 auto;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 76px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  margin: 0 0 0 60px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 76px;
}

.u-section-1 .u-container-layout-6 {
  padding: 2px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  width: auto;
  font-size: 2.25rem;
  margin: 62px auto 60px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 2.25rem;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1032px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 358px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 439px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 123px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 46px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 118px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -232px;
    margin-right: calc(((100% - 940px) / 2) + 42px);
  }

  .u-section-1 .u-text-9 {
    margin-top: 54px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1690px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 484px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 848px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -292px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 40px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 71px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1803px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 318px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 75px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 865px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 81px;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    font-size: 0.875rem;
    margin: 92px 51px 0 auto;
    padding: 10px 119px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 161px;
    margin-top: -232px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 52px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 34px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: -4px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-3 {
    border-style: solid;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1940px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 327px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 409px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 434px;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 47px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 1058px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 81px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 39px;
    padding-left: 37px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 83px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 89px;
    padding-left: 88px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 159px;
    margin-top: -281px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 43px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 40px;
    margin-bottom: -51px;
    width: auto;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 81px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -38px;
    margin-left: 43px;
    width: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 38px;
    margin-bottom: 48px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 1.5rem;
    padding: 6px 18px 7px 17px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1637px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.u-section-2 .u-image-1 {
  min-height: 824px;
  background-image: url("images/texture.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-group-1 {
  width: 488px;
  min-height: 699px;
  margin: 0 auto 0 296px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 807px;
  height: 562px;
  object-position: 100% 0%;
  background-position: 100% 0%;
  margin: -630px auto 68px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 723px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-style: italic;
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 30px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2;
  width: 394px;
  margin: 45px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1399px;
  }

  .u-section-2 .u-image-1 {
    min-height: 679px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 596px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-2 .u-image-1 {
    min-height: 619px;
  }

  .u-section-2 .u-group-1 {
    min-height: 598px;
    margin-top: 11px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 660px;
    height: 460px;
    margin-top: -529px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 801px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 38px;
    margin-bottom: -6px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-2 .u-image-1 {
    min-height: 559px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    min-height: 514px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 520px;
    height: 362px;
    margin-top: -445px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 736px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 16px;
    margin-right: 18px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 28px;
    margin-right: 82px;
    margin-left: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-2 .u-image-1 {
    min-height: 388px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 346px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 263px;
    width: 320px;
    margin-top: -305px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 839px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin: 61px 0 -3890px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 560px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 10px 0 59px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 456px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: bold;
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-form-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-accordion-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-icon-1 {
  height: 16px;
  width: 16px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-icon-2 {
  height: 16px;
  width: 16px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-icon-3 {
  height: 16px;
  width: 16px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 7px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-weight: 700;
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 563px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  background-image: none;
  right: auto;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 444px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  font-size: 5.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 444px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 444px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 41px;
}

.u-section-4 .u-text-3 {
  line-height: 2;
  animation-duration: 1000ms;
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 485px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 366px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 366px;
  }

  .u-section-4 .u-image-1 {
    height: 304px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 366px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 399px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 280px;
  }

  .u-section-4 .u-image-1 {
    height: 216px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 849px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    font-size: 5.5rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 630px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 624px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 616px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 397px;
  }

  .u-section-4 .u-image-1 {
    height: 384px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 263px;
}

.u-section-5 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 263px;
  grid-gap: 10px 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 217px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 4.5rem;
    width: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-5 {
    font-size: 4.5rem;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 499px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 885px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 92px auto 0;
}

.u-section-6 .u-slider-1 {
  min-height: 532px;
  width: 471px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 61px auto 60px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 40px;
}

.u-section-6 .u-carousel-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 40px 80px 45px;
}

.u-section-6 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("images/ss.PNG");
  background-position: 50% 50%;
  margin: 43px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  width: 191px;
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-6 .u-carousel-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 40px 0;
}

.u-section-6 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/177038142_17b6.jpg");
  background-position: 50% 50%;
  margin: 31px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.0625rem;
  width: 311px;
  margin: 24px auto 0;
}

.u-section-6 .u-text-5 {
  width: 191px;
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-6 .u-carousel-item-3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-6 .u-image-3 {
  width: 83px;
  height: 83px;
  background-image: url("images/jm.PNG");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.0625rem;
  margin: 28px 30px 0;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 30px 102px 0 78px;
}

.u-section-6 .u-carousel-item-4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-6 .u-image-4 {
  width: 83px;
  height: 83px;
  background-image: url("images/jp.PNG");
  background-position: 50% 50%;
  margin: 61px auto 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.0625rem;
  margin: 20px 30px 0;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  width: 191px;
  margin: 16px auto 0;
}

.u-section-6 .u-carousel-item-5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-6 .u-image-5 {
  width: 83px;
  height: 83px;
  background-image: url("images/of.PNG");
  background-position: 50% 50%;
  margin: 36px auto 0;
}

.u-section-6 .u-text-10 {
  font-size: 1.0625rem;
  margin: 20px 30px 0;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: -85px;
  position: absolute;
  background-image: none;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  background-image: none;
  right: -80px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-slider-1 {
    height: auto;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-carousel-indicators-1 {
    bottom: 26px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 30px 60px 30px 50px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 30px 60px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-slider-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}.acp {
text-decoration: line-through red ;
} 