.u-section-1 .u-sheet-1 {
  min-height: 722px;
}

.u-section-1 .u-icon-1 {
  width: 186px;
  height: 186px;
  margin: 64px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 3.75rem;
  width: 779px;
  margin: 45px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  width: 779px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  width: 779px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-weight: 700;
  animation-timing-function: ease-in;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    font-size: 1.875rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}